* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 1.25em;
    background-color: #2c2c2cea;
}

header {
    width: 100vw;
    position: fixed;
    padding: 10px 90px 10px 94px;
    border-bottom: 7px solid #07A2DD;
    background-color: #051465;
    z-index: 999;
}

#header-content {
    position: relative;
}

#header-content nav a {
    color: white;
    text-decoration: none;
}

#landing-image div {
    position: absolute;
    top: 18em;
    left: 6em;
    z-index: 1;
    color: white;
    width: 40%;
    text-align: center;
    line-height: 70px;
}

#landing-image div h1 {
    font-size: 3em;
}

#landing-image div h2 {
    font-size: 2em;
}

#landing-image img {
    width: 100%;
    z-index: 0;
}

.section-container {
    width: 70%;
    margin: 3em auto;
    text-align: center;
}

.section-container h2 {
    font-size: 2em;
}

.section-container p {
    margin: 1em 0;
}

#profile-pic {
    width: 20%;
    border-radius: 100%;
    display: block;
    margin: 2em auto;
}

.logo-resize {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    margin: 8em 4em;
}

#nasa-logo {
    width: 10%;
}

