/* Tags */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    background-color: #2c2c2c;
    color: white;
}

header {
    width: 100vw;
    position: fixed;
    padding: 10px 90px 10px 94px;
    border-bottom: 7px solid #1387FF;
    background-color: #051465;
    z-index: 999;
}

footer {
    width: 100%;
    padding: 30px 0;
    border-top: 7px solid #1387FF;
    background-color: #051465;
    z-index: 999;
    text-align: center;
    margin: 0 auto;
}

footer div p {
    display: inline-block;
}

footer div img {
    margin: 0 10px;
}

/* Classes */

.nav-links {
    color: white;
    text-decoration: none;
    font-weight: 900;
    padding: 0 2em;
}

.section-container {
    width: 70%;
    margin: 6em auto 0;
    text-align: center;
}

.section-container h2 {
    font-size: 2em;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    margin: 0 8em;
    color: #1387FF;
}

.section-container p {
    margin: 1em 0;
}

.logo-resize {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    margin: 7em 4em 4em;
}

/* Ids */

#header-content {
    position: relative;
    padding: 20px 0;
}

#header-content nav {
    text-align: right;
    margin-right: 8em;
}

#projects-button {
    padding: 10px 20px;
    background-color: #50a5ff;
}

#landing-image div {
    position: absolute;
    top: 18em;
    left: 6em;
    z-index: 1;
    color: white;
    width: 40%;
    text-align: center;
    line-height: 70px;
}

#landing-image div h1 {
    font-size: 3em;
}

#landing-image div h2 {
    font-size: 2em;
}

#landing-image img {
    width: 100%;
    z-index: 0;
}

#profile-pic {
    width: 20%;
    border-radius: 100%;
    display: block;
    margin: 4em auto;
}

#nasa-logo {
    width: 10%;
}